@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Kanit:ital,wght@1,300&display=swap');

.outerDiv {
  background-image: url("https://images.unsplash.com/photo-1462143338528-eca9936a4d09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerDiv {
  padding: 3%;
  background-color: white;
  opacity: 0.7;
  width: 80%;
  height: 80%;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.innerDiv h1 {
  font-size: 4vw;
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.innerContent {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.wheel {
  width: 80%;
  padding: 0.5vw;
}

.textContent {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
}

form {
  opacity: 1;
  text-align: center;
}

.inputs {
  background-color: rgb(16, 16, 16);
  color: white;
  font-size: 2vw;
  padding: 0.9vw;
  margin-top: 20px;
  border-radius: 10px;
}

.inputs input {
  color: black;
  font-weight: 600;
  padding: 0.5vw;
  text-align: center;
}

form button {
  background-color: yellowgreen;
  /* background-color: rgb(16, 16, 16); */
  color: black;
  cursor: pointer;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  font-weight: 600;
}

.theWheel {
  display: flex;
  justify-content: center;
  align-items: center;
}

li:first-child .text {
  background-color: violet;
}

li:nth-child(2) .text {
  background-color: rgb(238, 148, 64);
}

li:nth-child(3) .text {
  background-color: rgb(86, 59, 238);
}

li:nth-child(4) .text {
  background-color: rgb(53, 213, 235);
}

li:nth-child(5) .text {
  background-color: rgb(242, 59, 18);
}

li:nth-child(6) .text {
  background-color: rgb(68, 71, 69);
}

li:nth-child(7) .text {
  background-color: rgb(224, 234, 226);
}

li:nth-child(8) .text {
  background-color: rgb(54, 81, 116);
}

li:nth-child(9) .text {
  background-color: rgb(239, 28, 207);
}

li:nth-child(10) .text {
  background-color: rgb(179, 12, 240);
}

li:nth-child(11) .text {
  background-color: rgb(226, 237, 16);
}

li:nth-child(12) .text {
  background-color: rgb(184, 189, 189);
}

li:first-child {
  transform: rotate(0deg) skewY(-60deg);
}

li:nth-child(2) {
  transform: rotate(30deg) skewY(-60deg);
}

li:nth-child(3) {
  transform: rotate(60deg) skewY(-60deg);
}

li:nth-child(4) {
  transform: rotate(90deg) skewY(-60deg);
}

li:nth-child(5) {
  transform: rotate(120deg) skewY(-60deg);
}

li:nth-child(6) {
  transform: rotate(150deg) skewY(-60deg);
}

li:nth-child(7) {
  transform: rotate(180deg) skewY(-60deg);
}

li:nth-child(8) {
  transform: rotate(210deg) skewY(-60deg);
}

li:nth-child(9) {
  transform: rotate(240deg) skewY(-60deg);
}

li:nth-child(10) {
  transform: rotate(270deg) skewY(-60deg);
}

li:nth-child(11) {
  transform: rotate(300deg) skewY(-60deg);
}

li:nth-child(12) {
  transform: rotate(330deg) skewY(-60deg);
}

.circle {
  width: 25vw;
  height: 25vw;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  padding: 0;
  margin: 1em auto;
  overflow: hidden;
  list-style: none;
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  display: block;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2vw;
}

.arrow {
  height: 0;
  width: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 3vw solid black;
  position: relative;
  left: 50%;
  top: -11vw;
  z-index: 11;
}

.spinPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spinPage button {
  background-color: yellowgreen;
  color: black;
  cursor: pointer;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  font-weight: 600;
}

.resultDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.resultDiv button {
  background-color: yellowgreen;
  color: black;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
  font-weight: 600;
}

.resultDiv p {
  font-family: 'kanit', cursive;
  font-size: 3.5vw;
  text-decoration: underline;
  margin-bottom: 10px;
}

.resultDiv span {
  font-weight: 800;
  background-color: yellowgreen;
  padding: 0.8vw;
  border-radius: 5px;
  cursor: pointer;
}

/* 
.startRotate {
  animation: startRotate 1s linear infinite;
}

.stopRotate {
  animation-play-state: paused;
}

@keyframes startRotate {
  100% {
    transform: rotate(360deg);
  }
} */